/* all credits to the prism theme - i just compiled the scss */
/* https://github.com/damiankorcz/Prism-Theme/blob/main/src/scss/Plugins/Core/fileExplorer.scss */
.nav-folder:not(.is-collapsed) .collapse-icon svg.svg-icon {
	display: inline-flex;
	width: 17px;
	height: -webkit-fill-available;
	height: fill-available;
	content: " ";
	stroke-width: unset;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 17px;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 14 1.45-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.55 6a2 2 0 0 1-1.94 1.5H4a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h3.93a2 2 0 0 1 1.66.9l.82 1.2a2 2 0 0 0 1.66.9H18a2 2 0 0 1 2 2v2'%3E%3C/path%3E%3C/svg%3E");
}

.nav-folder:not(.is-collapsed) .collapse-icon svg.svg-icon {
	background-color: var(--text-muted);
}

.nav-folder.is-collapsed .collapse-icon svg.svg-icon {
	display: inline-flex;
	width: 17px;
	height: -webkit-fill-available;
	height: fill-available;
	content: " ";
	stroke-width: unset;
	transform: rotate(0);
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 17px;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 20h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.93a2 2 0 0 1-1.66-.9l-.82-1.2A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13c0 1.1.9 2 2 2Z'%3E%3C/path%3E%3C/svg%3E");
}

.nav-folder.is-collapsed .collapse-icon svg.svg-icon {
	background-color: var(--text-muted);
}

/* .nav-folder .collapse-icon svg.svg-icon {
	transition: -webkit-mask-image 0.15s ease-in;
} */

/* .nav-folder.is-collapsed:hover .collapse-icon svg.svg-icon {
	background-color: var(--interactive-accent-text);
} */
