/* sleek statusbar snippet by KraXen72 */

.status-bar {
	height: 24px;
	padding: 0 0.22rem;
	
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.theme-dark .status-bar { background-color: black; }
.status-bar, .status-bar-item { border: none; }

.status-bar-item {
	border-radius: 0;
	padding: 0 0.22rem;
	height: 22px;
	min-width: 22px;
}
.status-bar-item:hover {
	background-color: var(--background-modifier-hover) !important;
	/* background-color: var(--color-base-10) !important; */
    color: var(--nav-item-color-hover);
}

/* round mode */
:root {
	--sleek-statusbar-height: calc(24px + 2*0.22rem);
}
.status-bar { height: var(--sleek-statusbar-height) ; }
.status-bar-item { border-radius: var(--radius-s); }

body.focus-mode .status-bar {
	display: flex !important;
	background-color: var(--background-primary);
}

body.statussnip-center:not(.prism-theme) .status-bar {
	right: 50%;
	translate: 50% 0;
	--status-bar-radius: 8px 8px 0 0;
}

body.statussnip-left .status-bar {
	right: unset;
	left: 0;
	--status-bar-radius: 0px 8px 0 0;
}
body.statussnip-left .workspace-ribbon.side-dock-ribbon.mod-left,
body.statussnip-left .nav-files-container {
	padding-bottom: calc(12px + var(--sleek-statusbar-height));
}
body.prism-theme.pt-status-bar-position-floating.pt-fixed-status-bar-align-center .status-bar {
	margin-bottom: .2rem !important;
}

/* @settings

name: Sleek Statusbar v2
id: sleek-statusbar-snippet
settings:
    - 
        id: snippet-sleek-statusbar-position
        title: sleek statusbar position
        type: class-select
        allowEmpty: false
        default: statussnip-right
        options:
			-	
				label: Right
				value: statussnip-right
            - 
				label: Center
				value: statussnip-center
            -
				label: Left
				value: statussnip-left
*/