blockquote::before {
    font: 14px/20px italic Times, serif;
    content: "“";
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -0.4em;
	/* support accent colors with fallback */
	color: inherit;
	/* color: hsl(var(--accent-h), var(--accent-s), var(--accent-l)) */
}
.markdown-preview-view blockquote {
    padding-left: 1rem
}
blockquote p { display: inline; }