.image-embed[alt]:not([alt$=".png"], [alt$=".jpg"], [alt$=".jpeg"], [alt$=".tiff"])::after {
	font-size: smaller;
    content: attr(alt);
    font-style: italic;
    color: var(--text-muted);
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translate(-50%, -10%);
}
.image-embed[alt][width]:not([alt$=".png"], [alt$=".jpg"], [alt$=".jpeg"], [alt$=".tiff"])::after {
	display: none;
}