/* original by fireisgood on discord, https://discord.com/channels/686053708261228577/702656734631821413/1152471653993947158 */
/* edited by KraXen72 */

:is(.HyperMD-header-1, h1) {
	--current-header-fsize: var(--h1-size);
	--current-header-lh: var(--h1-line-height);
	--indicator: "⠈";
}
:is(.HyperMD-header-2, h2) {
	--current-header-fsize: var(--h2-size);
	--current-header-lh: var(--h1-line-height);
	--indicator: "⠘";
}
:is(.HyperMD-header-3, h3) {
	--current-header-fsize: var(--h3-size);
	--current-header-lh: var(--h1-line-height);
	--indicator: "⠸";
}
:is(.HyperMD-header-4, h4) {
	--current-header-fsize: var(--h4-size);
	--current-header-lh: var(--h1-line-height);
	--indicator: "⠼";
}
:is(.HyperMD-header-5, h5) {
	--current-header-fsize: var(--h5-size);
	--current-header-lh: var(--h1-line-height);
	--indicator: "⠾";
}
:is(.HyperMD-header-6, h6) {
	--current-header-fsize: var(--h6-size);
	--current-header-lh: var(--h1-line-height);
	--indicator: "⠿";
}

:is(h1, h2, h3, h4, h5, h6), .HyperMD-header {
	position: relative;
	/* .cm-header { border: 1px solid red; } */
	&::before {
		--indicator-offset: 20px;
		--indicator-alignment: center;
		content: var(--indicator);

		position: absolute;
		top: calc(var(--p-spacing));
		bottom: 0;
		height: calc(
			var(--current-header-fsize, var(--font-text-size)) 
			* var(--current-header-lh) + 0.3em
		);
		margin-top: var(--custom-typo-mt, 0);
		margin-bottom: var(--custom-typo-mb, 0);
		
		display: flex;
		align-items: var(--indicator-alignment);
		color: var(--text-faint);
		/* font-size: var(--current-header-fsize, var(--font-text-size)); */
		font-size: var(--font-text-size);
		translate: calc(-100% - var(--indicator-offset)) 0;
		/* border: 1px solid red; */
	}
}

/* empty heading has no padding-top, selector stolen from obsidian */
.cm-s-obsidian .cm-line.HyperMD-header + .cm-line:not(.HyperMD-header):has(>br:only-child) + .cm-line.HyperMD-header {
	&::before { top: 0; }
}

.markdown-reading-view,
.community-modal-readme {
	:is(h1, h2, h3, h4, h5, h6),
	.HyperMD-header {
		/* border: 1px solid red; */
		&::before {
			box-sizing: border-box;
			margin-top: 0;
			margin-bottom: 0;
			top: 0;
			height: 100%;
		}
	}
}

/* hide in canvas */
.canvas-node-container {
	:is(h1, h2, h3, h4, h5, h6),
	.HyperMD-header {
		&::before { display: none; }
	}
}

/* hide in print */
@media print {
	:is(h1, h2, h3, h4, h5, h6),
	.HyperMD-header {
		&::before { display: none; }
	}
}