/* credit: kepano's minimal theme */
/* source: https://github.com/kepano/obsidian-minimal/blob/master/src/scss/features/image-zoom.scss */
/* i just transpiled from scss to css */
/* slighly modified by KraXen72*/
/* made it so it only works for the imgZoom or mediaGrid class */

.view-content :is(.markdown-preview-view.imgZoom, .markdown-preview-view.mediaGrid) div:not(.canvas-node-content) img {
  max-width: 100%;
  cursor: zoom-in;
}
.view-content :is(.markdown-preview-view.imgZoom, .markdown-preview-view.mediaGrid) img:active {
  cursor: zoom-out;
}
.view-content :is(.markdown-preview-view.imgZoom, .markdown-preview-view.mediaGrid) img[referrerpolicy=no-referrer]:active {
  background-color: var(--background-primary);
  padding: 10px;
}
.view-content :is(.markdown-preview-view.imgZoom, .markdown-preview-view.mediaGrid) img[referrerpolicy=no-referrer]:active,
.view-content :is(.markdown-preview-view.imgZoom, .markdown-preview-view.mediaGrid) .image-embed:not(.canvas-node-content):active {
  aspect-ratio: unset;
  cursor: zoom-out;
  display: block;
  z-index: 200;
  position: fixed;
  max-height: calc(100% + 1px);
  max-width: 100%;
  height: calc(100% + 1px);
  width: 100%;
  object-fit: contain;
  margin: -0.5px auto 0 !important;
  text-align: center;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.view-content :is(.markdown-preview-view.imgZoom, .markdown-preview-view.mediaGrid) .image-embed:not(.canvas-node-content):active:after {
  background-color: var(--background-primary);
  opacity: 0.9;
  content: " ";
  height: calc(100% + 1px);
  width: 100%;
  position: fixed;
  left: 0;
  right: 1px;
  z-index: 0;
}
.view-content :is(.markdown-preview-view.imgZoom, .markdown-preview-view.mediaGrid) .image-embed:not(.canvas-node-content):active img {
  aspect-ratio: unset;
  top: 50%;
  z-index: 99;
  transform: translateY(-50%);
  padding: 0;
  margin: 0 auto;
  width: calc(100% - 20px);
  max-height: 95vh;
  object-fit: contain;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 1;
}
