/* fix underline position on links */
:is(.cm-url.cm-url:not(.cm-formatting), .cm-hmd-internal-link.cm-hmd-internal-link.cm-hmd-internal-link, .modal-content
a:not(.tag), a:not(.tag), .footnote-link, .internal-link.internal-link.internal-link, .external-link, .cm-link.cm-link) {
	text-underline-position: initial;
}

u { text-underline-position: auto; text-decoration-skip-ink: auto; }

/* this is the hover preview that shows when hovering an image */
/* fix - popover properly contains & displays full image */
.popover.hover-popover > .media-embed.image-embed > img {
	width: 100%;
	height: 100%;
	margin: 0;
	object-fit: contain;
}

/* pixel-perfect checkbox positioning */
input[type=checkbox]:not([data-task="/"]):checked::after { 
	top: 0px !important; left: 0px !important;
	-webkit-mask-size: 11px 11px;
	-webkit-mask-position: 2px 2px;
}

/* remove empty line before tables in LP*/
.cm-line:has(+ .cm-embed-block.cm-table-widget) br {
	display: none;
}

/* --- need (more) explanation --- */