@media print {
	/* compat with older notes */
	/* new way: <div style="page-break-after: always;"></div>, however, --- is more reliable */
	hr {
		break-after: page;
		visibility: hidden;
	}

	/* prevent headings from being at the bottom of the page */
	:is(h1, h2, h3, h4, h5, h6)::before {
		content: "" !important;
		display: block !important;
		height: 30vh !important;
		margin-bottom: -30vh !important;
	}

	h1, h3, h2, h4, h5, h6, strong, em {
		color: #0f0f0f !important;
	}

	.markdown-rendered thead tr > th,
	th, tr > th, table tr th {
		color: black !important; /* possibly change to #0f0f0f ? */
	}

	/* darker green in PDF export */
	body mark.hltr-g { color: hsl(92, 50%, 40%) !important; } 
}