/* all of my changes regarding typography. should work with most themes but tested on default theme */
/* tweak heading sizes, in Prism they are way too big */
:root, body, html {
	--h1-size: 1.8em;
    --h2-size: 1.6em;
    --h3-size: 1.45em;
    --h4-size: 1.3em;
    --h5-size: 1.15em;
    --h6-size: 1.05em;

	--h1-weight: 600;
	--h4-variant: normal;
	--h5-variant: normal;
	--h6-variant: normal;
}

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
    margin-block-start: 0.5em;
    margin-block-end: 0.16em;
}

.cm-content {
	--custom-typo-mt: 0.2em;
	--custom-typo-mb: 0.16em;
	.HyperMD-header .cm-header {
		margin-top: var(--custom-typo-mt);
		margin-bottom: var(--custom-typo-mb);
		display: inline-block;
	}
}

/* embed: add back heading padding */
.internal-embed:not(.image-embed) .markdown-rendered :is(h1, h2, h3, h4, h5, h6) {
	margin-top: 0.5em;
	margin-bottom: 0.16em;
}

/* .markdown-rendered ul, .markdown-rendered ol {
	margin-block-start: 0.6em;
	margin-block-end: 0.6em;
} */